Django==3.2.8
gunicorn

boto3
botocore
aws-parallelcluster==3.7.1

django-bootstrap4==21.1
django-crispy-forms==1.13.0
django-tables2==2.4.1
django-cors-headers==4.1.0

requests
Jinja2
python-dateutil
pytz
sqlparse

beautifulsoup4
simplejson
urllib3==1.26.7
