Region: us-east-1 
Image:
  CustomAmi: ami-06d5a53a195815fed 
  Os: alinux2 
CustomS3Bucket: ctx-numendev-resource
Iam:
  Roles:
    LambdaFunctionsRole: arn:aws:iam::442907275011:role/ctx-numen-pcluster-lambdarole 
Tags:
  - Key:  Platform
    Value: Numen
  - Key:  CREATEDBY
    Value: ravi.achanta@clovertex.com
  - Key:  RESOURCEBUCKET
    Value: ctx-numendev-resource 

HeadNode:
  InstanceType: c6i.xlarge 
  Networking:
    SubnetId: subnet-0f8027e73737761fe
    AdditionalSecurityGroups:
      -  sg-0e01613f243231d44
  Ssh:
    KeyName: Ctx-ec2-key  
    AllowedIps: 0.0.0.0/32
  LocalStorage:
    RootVolume:
      Size: 128 
  Dcv:
    Enabled:  true  
    Port: 8443
    AllowedIps: 0.0.0.0/32
  CustomActions:
    OnNodeStart:
      Script: s3://ctx-numendev-resource/parallelcluster-linux-alinux2-ctx-numen-SHMQ/preinstall/preinstall.sh
      Args: 
        - ' '
    OnNodeConfigured:
      Script: s3://ctx-numendev-resource/parallelcluster-linux-alinux2-ctx-numen-SHMQ/postinstall/postinstall.sh
      Args: 
        -  'linux'
  Iam:
    InstanceRole: arn:aws:iam::442907275011:role/ctx-numen-pcluster-instancerole
Scheduling:
  Scheduler: slurm
  SlurmSettings:
    ScaledownIdletime: 30
    EnableMemoryBasedScheduling: true
  SlurmQueues:
    
    - Name: cpu-c6i-small
      ComputeResources:
        - Name: c6i-large
          InstanceType: c6i.large
          MinCount: 0
          MaxCount: 1
        - Name: c6i-xlarge
          InstanceType: c6i.xlarge
          MinCount: 0
          MaxCount: 1
        - Name: c6i-2xlarge
          InstanceType: c6i.2xlarge
          MinCount: 0
          MaxCount: 1
      CustomActions:    
        OnNodeStart:
          Script: s3://ctx-numendev-resource/parallelcluster-linux-alinux2-ctx-numen-SHMQ/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://ctx-numendev-resource/parallelcluster-linux-alinux2-ctx-numen-SHMQ/postinstall/postinstall.sh
          Args: 
            -  'linux'
      Iam:
        InstanceRole: arn:aws:iam::442907275011:role/ctx-numen-pcluster-instancerole 
      Networking:
        SubnetIds: 
          - subnet-0f8027e73737761fe
        AdditionalSecurityGroups:
          - sg-0e01613f243231d44 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128   
     
    
    
    
    
SharedStorage:
  - MountDir: /efshome
    Name: EFSHOME
    StorageType: Efs
    EfsSettings:
      FileSystemId: fs-0ec0b8e999fcd6f75
  - MountDir: /fsx
    Name: ondemandFSX
    StorageType: FsxLustre
    FsxLustreSettings:
      FileSystemId: fs-091dfcea1898afd92
