Region: us-east-1 
Image:
  CustomAmi: ami-0a85cad90da70f54b 
  Os: alinux2 
CustomS3Bucket: numen-demo-resource-02
Iam:
  Roles:
    LambdaFunctionsRole: arn:aws:iam::171860218006:role/numen-demo-pclusterlambda-role 
Tags:
  - Key:  Platform
    Value: Numen
  - Key:  CREATEDBY
    Value: shambhavi.shankrit@clovertex.com
  - Key:  RESOURCEBUCKET
    Value: numen-demo-resource-02
  - Key:  SlurmQueuesTitle
    Value: cpu-c6i-small:gpu-g5-1-gpu
  - Key: InstanceType
    Value: c6i.xlarge
  - Key: EBSSize
    Value: EBS:128
  - Key: CUSTOMNAME
    Value: linux-alinux2-ctx-numen-IMPK
  - Key: InstanceName
    Value: demoNUMEND079
  - Key: Environment
    Value: demo
  - Key: version
    Value: 3/30/2022
  - Key: application-name
    Value: ctx-numen
  - Key: application-owner
    Value: baris.guler@clovertex.com
  - Key: asec-tier
    Value: wt
  - Key: environment-id
    Value: dev
  - Key: is-multi-tenant
    Value: 'FALSE'
  - Key: it-technical-owner
    Value: Adarsh.Jain@clovertex.com
  - Key: ops-exclude-patch
    Value: s1

  
HeadNode:
  InstanceType: c6i.xlarge 
  Networking:
    SubnetId: subnet-040d379680edfeb59
    AdditionalSecurityGroups:
      -  sg-08e53770abe542a49
  Ssh:
    KeyName: numen-demo-key  
    AllowedIps: 0.0.0.0/32
  LocalStorage:
    RootVolume:
      Size: 128 
  Dcv:
    Enabled:  true  
    Port: 8443
    AllowedIps: 0.0.0.0/32
  CustomActions:
    OnNodeStart:
      Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/preinstall/preinstall.sh
      Args: 
        - ' '
    OnNodeConfigured:
      Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/postinstall/postinstall.sh
      Args: 
        -  'linux'
  Iam:
    InstanceRole: arn:aws:iam::171860218006:role/numen-demo-pclusterinstance-role
Scheduling:
  Scheduler: slurm
  SlurmSettings:
    ScaledownIdletime: 30
    EnableMemoryBasedScheduling: true
  SlurmQueues:
    
    - Name: cpu-c6i-small
      ComputeResources:
        - Name: c6i-large
          InstanceType: c6i.large
          MinCount: 0
          MaxCount: 4
        - Name: c6i-xlarge
          InstanceType: c6i.xlarge
          MinCount: 0
          MaxCount: 4
        - Name: c6i-2xlarge
          InstanceType: c6i.2xlarge
          MinCount: 0
          MaxCount: 4
      CustomActions:    
        OnNodeStart:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/postinstall/postinstall.sh
          Args: 
            -  'linux'
      Iam:
        InstanceRole: arn:aws:iam::171860218006:role/numen-demo-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-040d379680edfeb59
        AdditionalSecurityGroups:
          - sg-08e53770abe542a49 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
     
    
    - Name: gpu-g5-1-gpu
      ComputeResources:
        - Name: g5-xlarge
          InstanceType: g5.xlarge
          MinCount: 0
          MaxCount: 4
        - Name: g5-2xlarge
          InstanceType: g5.2xlarge
          MinCount: 0
          MaxCount: 4
        - Name: g5-4xlarge
          InstanceType: g5.4xlarge
          MinCount: 0
          MaxCount: 4
      CustomActions:    
        OnNodeStart:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/postinstall/postinstall.sh
          Args: 
            -  'linux'
      Iam:
        InstanceRole: arn:aws:iam::171860218006:role/numen-demo-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-040d379680edfeb59
        AdditionalSecurityGroups:
          - sg-08e53770abe542a49 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
    
    
    - Name: gpu-g5-4-gpu
      ComputeResources:
        - Name: g5-12xlarge
          InstanceType: g5.12xlarge
          MinCount: 0
          MaxCount: 4
        - Name: g5-24xlarge
          InstanceType: g5.24xlarge
          MinCount: 0
          MaxCount: 4
      CustomActions:    
        OnNodeStart:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/postinstall/postinstall.sh
          Args: 
            -  'linux'
      Iam:
        InstanceRole: arn:aws:iam::171860218006:role/numen-demo-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-040d379680edfeb59
        AdditionalSecurityGroups:
          - sg-08e53770abe542a49 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
    
    
    - Name: gpu-g4dn-4-gpu
      ComputeResources:
        - Name: g4dn-12xlarge
          InstanceType: g4dn.12xlarge
          MinCount: 0
          MaxCount: 4
      CustomActions:    
        OnNodeStart:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://numen-demo-resource-02/parallelcluster-linux-alinux2-ctx-numen-IMPK/postinstall/postinstall.sh
          Args: 
            -  'linux'
      Iam:
        InstanceRole: arn:aws:iam::171860218006:role/numen-demo-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-040d379680edfeb59
        AdditionalSecurityGroups:
          - sg-08e53770abe542a49 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
    
    
SharedStorage:
  - MountDir: /efshome
    Name: EFSHOME
    StorageType: Efs
    EfsSettings:
      FileSystemId: fs-04e126ad88b4e76b2