Region: us-east-1 
Image:
  CustomAmi: ami-07bbcff84e0e7b9c3 
  Os: alinux2 
CustomS3Bucket: tec-dev-usvga-numen-resource-02
Iam:
  Roles:
    LambdaFunctionsRole: arn:aws:iam::637423199652:role/dev-east1-numen-pclusterlambda-role 
Tags:
  - Key:  Platform
    Value: Numen
  - Key:  CREATEDBY
    Value: suryanarayana.seera@takeda.com
  - Key:  RESOURCEBUCKET
    Value: tec-dev-usvga-numen-resource-02
  - Key:  SlurmQueuesTitle
    Value: cpu-c6i-small
  - Key:  FSXsize
    Value: FSX:1200
  - Key: InstanceType
    Value: c6i.xlarge
  - Key: EBSSize
    Value: EBS:128
  - Key: CUSTOMNAME
    Value: relionv400-alinux2-ctx-numen-0NO9
  - Key: InstanceName
    Value: usvgaNUMEND037
  - Key: Environment
    Value: dev
  - Key: version
    Value: 3/30/2022
  - Key: apms-id
    Value: APMS-10027
  - Key: application-name
    Value: ctx-numen
  - Key: application-owner
    Value: raj.mathura@takeda.com
  - Key: asec-tier
    Value: wt
  - Key: environment-id
    Value: dev
  - Key: is-multi-tenant
    Value: 'FALSE'
  - Key: it-technical-owner
    Value: ainsworth.grant@takeda.com
  - Key: ops-exclude-patch
    Value: s1
  - Key: service-ci-id
    Value: BSN0016208    

  
HeadNode:
  InstanceType: c6i.xlarge 
  Networking:
    SubnetId: subnet-0621a009e2d4a4613
    AdditionalSecurityGroups:
      -  sg-02766867c869deb98
  Ssh:
    KeyName: tec-dev-numenkey-usvga  
    AllowedIps: 0.0.0.0/32
  LocalStorage:
    RootVolume:
      Size: 128 
  Dcv:
    Enabled:  true  
    Port: 8443
    AllowedIps: 0.0.0.0/32
  CustomActions:
    OnNodeStart:
      Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/preinstall/preinstall.sh
      Args: 
        - ' '
    OnNodeConfigured:
      Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/postinstall/postinstall.sh
      Args: 
        -  'relionv400'
  Iam:
    InstanceRole: arn:aws:iam::637423199652:role/dev-ec2-east1-numen-pclusterinstance-role
Scheduling:
  Scheduler: slurm
  SlurmSettings:
    ScaledownIdletime: 30
    EnableMemoryBasedScheduling: true
  SlurmQueues:
    
    - Name: cpu-c6i-small
      ComputeResources:
        - Name: c6i-large
          InstanceType: c6i.large
          MinCount: 0
          MaxCount: 2
        - Name: c6i-xlarge
          InstanceType: c6i.xlarge
          MinCount: 0
          MaxCount: 2
        - Name: c6i-2xlarge
          InstanceType: c6i.2xlarge
          MinCount: 0
          MaxCount: 2
      CustomActions:    
        OnNodeStart:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/postinstall/postinstall.sh
          Args: 
            -  'relionv400'
      Iam:
        InstanceRole: arn:aws:iam::637423199652:role/dev-ec2-east1-numen-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-0621a009e2d4a4613
        AdditionalSecurityGroups:
          - sg-02766867c869deb98 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
     
    
    - Name: gpu-g5-1-gpu
      ComputeResources:
        - Name: g5-xlarge
          InstanceType: g5.xlarge
          MinCount: 0
          MaxCount: 1
        - Name: g5-2xlarge
          InstanceType: g5.2xlarge
          MinCount: 0
          MaxCount: 1
        - Name: g5-4xlarge
          InstanceType: g5.4xlarge
          MinCount: 0
          MaxCount: 1
      CustomActions:    
        OnNodeStart:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/postinstall/postinstall.sh
          Args: 
            -  'relionv400'
      Iam:
        InstanceRole: arn:aws:iam::637423199652:role/dev-ec2-east1-numen-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-0621a009e2d4a4613
        AdditionalSecurityGroups:
          - sg-02766867c869deb98 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
    
    
    - Name: gpu-g5-1-gpu
      ComputeResources:
        - Name: g5-xlarge
          InstanceType: g5.xlarge
          MinCount: 0
          MaxCount: 4
        - Name: g5-2xlarge
          InstanceType: g5.2xlarge
          MinCount: 0
          MaxCount: 4
        - Name: g5-4xlarge
          InstanceType: g5.4xlarge
          MinCount: 0
          MaxCount: 4
      CustomActions:    
        OnNodeStart:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/postinstall/postinstall.sh
          Args: 
            -  'relionv400'
      Iam:
        InstanceRole: arn:aws:iam::637423199652:role/dev-ec2-east1-numen-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-0621a009e2d4a4613
        AdditionalSecurityGroups:
          - sg-02766867c869deb98 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
    
    
    - Name: gpu-g4dn-4-gpu
      ComputeResources:
        - Name: g4dn-12xlarge
          InstanceType: g4dn.12xlarge
          MinCount: 0
          MaxCount: 4
      CustomActions:    
        OnNodeStart:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://tec-dev-usvga-numen-resource-02/parallelcluster-relionv400-alinux2-ctx-numen-0NO9/postinstall/postinstall.sh
          Args: 
            -  'relionv400'
      Iam:
        InstanceRole: arn:aws:iam::637423199652:role/dev-ec2-east1-numen-pclusterinstance-role 
      Networking:
        SubnetIds: 
          - subnet-0621a009e2d4a4613
        AdditionalSecurityGroups:
          - sg-02766867c869deb98 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
    
    
SharedStorage:
  - MountDir: /efshome
    Name: EFSHOME
    StorageType: Efs
    EfsSettings:
      FileSystemId: fs-09c57e93b125bbe76