Region: us-east-1 
Image:
  CustomAmi: ami-06f59d3265152378c 
  Os: alinux2 
CustomS3Bucket: numen-demo-pk1-numenresourcebucket-gmmrta9akemj
Iam:
  Roles:
    LambdaFunctionsRole: arn:aws:iam::851725171780:role/numen-test-webapprole 
Tags:
  - Key:  Platform
    Value: Numen
  - Key:  CREATEDBY
    Value: user@numen.local
  - Key:  RESOURCEBUCKET
    Value: numen-demo-pk1-numenresourcebucket-gmmrta9akemj
  - Key:  SlurmQueuesTitle
    Value: cpu-c6i-tier1
  - Key: InstanceType
    Value: c6i.xlarge
  - Key: EBSSize
    Value: EBS:128
  - Key: CUSTOMNAME
    Value: relionv500-alinux2-ctx-numen-R2S1
  - Key: InstanceName
    Value: numentestD135
  - Key: Environment
    Value: numen-test
  - Key: version
    Value: 3/30/2022
  - Key: application-name
    Value: ctx-numen
  - Key: application-owner
    Value: baris.guler@clovertex.com
  - Key: asec-tier
    Value: wt
  - Key: environment-id
    Value: dev
  - Key: is-multi-tenant
    Value: 'FALSE'
  - Key: it-technical-owner
    Value: Adarsh.Jain@clovertex.com
  - Key: ops-exclude-patch
    Value: s1

  
HeadNode:
  InstanceType: c6i.xlarge 
  Networking:
    SubnetId: subnet-00648988ac513833e
    AdditionalSecurityGroups:
      -  sg-04573f63cff33669a
  Ssh:
    KeyName: numen-test-demo  
    AllowedIps: 0.0.0.0/32
  LocalStorage:
    RootVolume:
      Size: 128 
  Dcv:
    Enabled:  true  
    Port: 8443
    AllowedIps: 0.0.0.0/32
  CustomActions:
    OnNodeStart:
      Script: s3://numen-demo-pk1-numenresourcebucket-gmmrta9akemj/parallelcluster-relionv500-alinux2-ctx-numen-R2S1/preinstall/preinstall.sh
      Args: 
        - ' '
    OnNodeConfigured:
      Script: s3://numen-demo-pk1-numenresourcebucket-gmmrta9akemj/parallelcluster-relionv500-alinux2-ctx-numen-R2S1/postinstall/postinstall.sh
      Args: 
        -  'relionv500'
  Iam:
    InstanceRole: arn:aws:iam::851725171780:role/numen-test-webapprole
Scheduling:
  Scheduler: slurm
  SlurmSettings:
    ScaledownIdletime: 30
    EnableMemoryBasedScheduling: true
  SlurmQueues:
    
    - Name: cpu-c6i-tier1
      ComputeResources:
        - Name: 
          InstanceType: 
          MinCount: 0
          MaxCount: 2
      CustomActions:    
        OnNodeStart:
          Script: s3://numen-demo-pk1-numenresourcebucket-gmmrta9akemj/parallelcluster-relionv500-alinux2-ctx-numen-R2S1/preinstall/preinstall.sh
          Args: 
            - ' '
        OnNodeConfigured:
          Script: s3://numen-demo-pk1-numenresourcebucket-gmmrta9akemj/parallelcluster-relionv500-alinux2-ctx-numen-R2S1/postinstall/postinstall.sh
          Args: 
            -  'relionv500'
      Iam:
        InstanceRole: arn:aws:iam::851725171780:role/numen-test-webapprole 
      Networking:
        SubnetIds: 
          - subnet-00648988ac513833e
        AdditionalSecurityGroups:
          - sg-04573f63cff33669a 
        PlacementGroup:
          Enabled: true
      ComputeSettings:
        LocalStorage:
          RootVolume:
            Size:  128    
     
    
    
    
    
SharedStorage:
  - MountDir: /efshome
    Name: EFSHOME
    StorageType: Efs
    EfsSettings:
      FileSystemId: fs-097c1f9319d604564